
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form name="frmRegister" method="get" action="http://localhost/index.php/SignIn/signIn">
    <table width="330" border="0" align="center" cellpadding="5" bgcolor= "#eeeeee">
        <tr>
            <td width="40%">type：</td>
            <td><input name="uid" type="text" id="username"> </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input name="change[view_num]" type="password" id="pwd"></td>
        </tr>
        <tr>
            <td>重复密码：</td>
            <td><input name="change[like_num]" type="password" id="repeat_pwd"></td>
        </tr>
        <tr>
            <td>手机：</td>
            <td><input name="change[awd_num]" type="text" id="name"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input name="change[col_num]" type="text" id="email"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input name="change[com_num]" type="text" id="email1"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="Submit" value="提交">
                <input type="reset" name="reset" value="重置"></td>
        </tr>
    </table>
</form>
</body>
</html>